@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/bgimg.jpg);
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    position: relative;
}

.box {
    height: 100vh;
    opacity: 0.69;
    position: absolute;
    background-color: black;
    width: 100%;
    top: 0;
}

.nav {
    height: 53px;
    max-width: 70vw;
    margin: auto;
    display: flex;
    position: relative;
    z-index: 10;
    justify-content: space-between;
    padding-top: 15px;
}

.logo svg {
    fill: red;
    width: 129px;

}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;

}

.hero :nth-child(1) {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

.hero :nth-child(2) {
    text-align: center;
    font-size: 26px;
    font-weight: 400;
}

.hero :nth-child(3) {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.herobutton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.main input {
    /* font-size: small; */
    /* width: 235px;
    height: 26px;
    padding: 14px 76px;
    color: white;
    background-color: rgba(23, 23, 23, .7);
    border-radius: 6px;
    font-size: 12px; */

    padding: 7px 76px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.herobutton .Get {
    background-color: red;
    padding: 14px 48px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.seperation {
    height: 8px;
    background-color: rgb(53, 53, 53);

}

.first {
    display: flex;
    max-width: 80vw;
    margin: auto;
}

.text1 {
    font-family: 'Arvo', serif;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13px;
}

.text1 :nth-child(1) {
    font-size: 40px;
}

.text1 :nth-child(2) {
    font-size: 20px;
}

.secimg {
    position: relative;
}

.secimg img {
    position: relative;
    width: 560px;
    z-index: 10;
}

.secimg video {
    position: absolute;
    width: 485px;
    top: 51px;
    right: 0;
}
.third .secimg {
    position: relative;
}

.third .secimg img{
    position: relative;
    width: 500px;
}
.third .secimg video{
    position: absolute;
    width: 320px;
   top: 40px;
   left: 90px;
}
.faq1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faq1 h1{
    margin-top: 30px;
    font-size: 44px;
    font-weight: bolder;
}
.ques{
    font-family: 'Arvo', serif;
    font-family: 'Poppins', sans-serif;
    max-width: 80vw;
    height: 66px;
    background-color: rgb(49, 49, 49);
    margin: auto;
    margin-top: 6px;
    color: white;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
